@model MvcCocktail.Web.Controllers.AccountProfileViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title">Update Your Account Information</h4>
        </div>
        @using (Ajax.BeginForm("Manage", "Account", new { returnUrl = ViewBag.ReturnUrl }, new AjaxOptions { }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <span class="help-block">A Valid Email, also used as your account log in.</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            <span class="help-block">First Name.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName)
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            <span class="help-block">Last Name.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            <span class="help-block">Change the password for your Account.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            <span class="help-block">Please type the Password again. Passwords MUST Match.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button name="submit" class="btn btn-success btn-icon"><i class="fa fa-check-square-o"></i> Update Account</button>
                <button type="button" class="btn btn-default btn-icon" data-dismiss="modal"><i class="fa fa-times-circle-o"></i> Cancel</button>
            </div>
        }
    </div>
</div>


